<div class="example-container">
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/pokemon']"><mat-icon>list</mat-icon></a>
  </div>
  <div>
    <header id="pokeHeader">

      <div class="headerBody" [ngStyle]="{'background-color':typeColorOne, 'width':'50%'}">
        <img *ngIf="pokemon.front_default!=''" src="{{pokemon.front_default}}"/>
        <img *ngIf="pokemon.front_default!=''" src="{{pokemon.back_default}}"/>

        <div >{{pokemon.name | titlecase}}</div>
        <div id="types">
          <a href = "/type/{{ types[0] }}"><div class="type" [ngStyle]="{'background-color':typeColorOne}">{{types[0] | titlecase}}</div></a>
          <a href = "/type/{{ types[1] }}"><div class="type" [ngStyle]="{'background-color':typeColorTwo,'display': display}">{{types[1] | titlecase}}</div></a>
        </div>
      </div>
      <div [ngStyle]="{'background-color':typeColorTwo,'width':'50%'}"></div>
    </header>

    <div style="display: inline-flex; width:100%">
       <div class="pokeInformation">
         <nav id="pokeNav">
           <div class="pokeNavItem" (click)="setInfoBox($event)">Stats</div>
           <div class="pokeNavItem"  (click)="setInfoBox($event)">Moves</div>
         </nav>
        <dl id="StatBox" *ngIf="!hideStats">
          <dt *ngFor="let ability of pokemon.abilities" class="pokeStat" id="pokeAbility"><a href ="/ability/{{ability.ability.name}}">{{ability.ability.name |titlecase}}</a></dt>
          <dt class="pokeMesurement">Pokemon Height: {{ pokemon.feet+"ft. "+ pokemon.inches+'in.' }}</dt>
          <dt class="pokeMesurement">Pokemon Weight: {{ pokemon.pounds }}lbs.</dt>
          <dt class="pokeStat" *ngFor="let stat of pokemon.stats.slice().reverse()">
            <div class="baseStat" [ngStyle]="{'width': '160px','text-align':'right'}">Base {{ stat.stat.name |titlecase}}:</div>
            <div class="baseStat" id="{{stat.stat.name}}" [ngStyle]="{'width':stat.base_stat+ 100+ 'px','padding-left':'5px'}"> {{stat.base_stat}}</div>
          </dt>
        </dl>
        <div *ngIf="!hideMoves">
          <div class="outerScrollBox">
             <div id="moveBox" class="innerScrollBox">
               <a class="moves" *ngFor="let move of pokemon.moves" [routerLink]="['/move/', move.move.url]"><div>{{ move.move.name | titlecase}}</div></a>
             </div>
          </div>
        </div>
      </div>
      <div class="pokeInformation">{{ dexEntry }}</div>
    </div>
  </div>
</div>
