<!-- <div class="example-container mat-elevation-z8">
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/pokemon']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{ability.name | titlecase}}</h2></mat-card-title>
    </mat-card-header>
    <dd>Ability description:{{ability.effect_entries[0].effect}}</dd>
    <mat-card-content>
      <dl id="abilityList">
        <dt *ngFor="let pokemon of ability.pokemon"><a href ="/pokemon-details/{{pokemon.pokemon.name}}" id="ability">{{pokemon.pokemon.name |titlecase}}</a></dt>

      </dl>
    </mat-card-content>
  </mat-card>
</div> -->
